html {
    background-color: #232323;
    font-family: 'yukimedium';
}

@font-face {
    font-family: 'yukimedium';
    src: url('yuki-webfont.woff2') format('woff2'),
         url('yuki-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import 'https://fonts.googleapis.com/css?family=Anonymous+Pro';

/*/ Emoji Search: &#128270 /*/

#block {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 415px;
    background-color: rgba(42,42,42,0.95);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px !important;
    padding-left: 12px;
    display: block;
}

#block_console {
    padding-top: 20px;
    padding-bottom: 20px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px !important;
    display: block;
}

a.link {
    font-family: 'Anonymous Pro', monospace;
    font-size: 12px;
    font-weight: bold;
    color: #eee;
    display: inline-block;
    transition: all 0.20s ease-in;
    padding: 5px;
    padding-right: 7px;
    padding-left: 7px;
    margin-right: 10px;
    margin-right: 10px;
    text-decoration: none;
}

a.link:hover {
    color: #fff;
    background-color: #e8a01c;
}

p.console {
    font-size: 54px;
    color: #fff;
    display: inline-block;
}

input.search_button {
    display: none;
}

input.search_button:active {
    background-color: #777;
}

input.search_input {
    background-color: rgba(35,35,35,0);
    color: whitesmoke;
    border: 1px;
    height: 11px;
    padding: 6px 10px;
    border-color: rgba(0,0,0,0);
    border-style: solid;
    border-width: 1px;
    transition: all 0.20s ease-in;
}

input.search_input:hover {
    border-color: #777;
    border-width: 1px;
}

img.hello-gif {
    width: 15%;
    height: 15%;
    border-style: solid;
    border-color: #777;
    border-width: 1px;
}

#hello-gif {
    margin-top: 20px;
}

/*/ Blink Animation /*/

.blink {
    animation: blink-animation 1s steps(2, start) infinite;
    font-size: 54px;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}