<!DOCTYPE html>
	<html>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
          tex2jax: {
              inlineMath: [ ['$','$'], ["\\(","\\)"] ],
              processEscapes: true
          }
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
                        <meta name="viewport" content="width=device-width">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
              <li><a href="/Research">Research</a></li>
              <li><a href="/Notes">Notes</a></li>
              <li><a href="/CV.pdf">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a
                    href="mailto:abhijit9331@gmail.com">abhijit9331@gmail.com</a></li>
	        		<li><a
                    href="mailto:achowdh2@ncsu.edu">achowdh2@ncsu.edu</a></li>
	        		<li><a
                    href="https://github.com/abhijit-c">github.com/abhijit-c</a></li>
              <li><a
                    href="https://twitter.com/TrostAft">twitter.com/TrostAft</a></li>
              <li><a
                    href="https://scholar.google.com/citations?hl=en&user=8Wg1zW4AAAAJ">My Google
                    Scholar</a></li>
				</ul>
			</footer>
		</body>
	</html>
